.leaflet-control-pinsearch {
  position: relative;
}

.pulse {
      display: block;
      border-radius: 50%;
      cursor: pointer;
      animation: pulse 2s infinite;
    }
    
    @keyframes pulse {
      0% {
        -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4);
        box-shadow: 0 0 0 0;
      }
      70% {
        -moz-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
         box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
      }
      100% {
        -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
         box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
      }
    }

.search-input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.search-input {
  width: 500px;
  height: 30px;
  padding: 5px 30px 5px 10px;
  border: none; /* Remove default border */
  background-color: #333; /* Dark grey background color */
  background-size: cover;
  color: #fff;
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5em;
  pointer-events: none;
}

.search-results {
  display: none;
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  right: 0;
  padding: 5px;
  background-color: #333;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  color: #fff;
}

.search-results-item:hover {
  background-color: #f0f0f0;
  color: #333;
  font-weight: bold;
}

.search-results-item {
  padding: 5px;
  cursor: pointer;
}

.search-results-item:hover {
  background-color: #f0f0f0;
}

.search-results-item.highlight {
  background-color: #fff;
}